<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To do list</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>To-do:</h1>
        <div class="input-container">
            <input type="text" id="itemInput" placeholder="Task...">
            <button id="submitButton">Submit</button>
        </div>
        <ul></ul>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>